// В этом файле должны быть стили для БЭМ-блока feedback, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.feedback {

  $block-name:                &; // #{$block-name}__element

  border: 12px solid $color-main;
  padding: 20px 90px;
  @media (max-width: ($screen-lg - 1)) {
    padding: 20px 30px;
    .recaptcha {
      flex-wrap: wrap;
    }
    .recaptcha__field {
      margin-bottom: 15px;
    }
  }

  &__header {
    text-align: center;
    margin-bottom: 40px;
  }
  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
  }
  &__title-caption {
    font-size: 16px;
    line-height: 1.4;
  }

  .fields-group {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__field {
    flex:1;
    &:not(:last-child) {
      margin-right: 30px;
    }
    .btn {
      width: 100%;
    }
    @media (max-width: ($screen-lg - 1)) {
      flex-basis: 100%;
      margin-bottom: 15px !important;
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

}
