// В этом файле должны быть стили для БЭМ-блока page-footer-bottom, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer-bottom {

  $block-name:                &; // #{$block-name}__element
  background: rgba(0, 0, 0, 0.6);
  color: #fff;

  &__inner {
    @include container;
    display: flex;
    justify-content: space-between;
    @media (max-width: ($screen-md - 1)) {
      flex-direction: column;
      text-align: center;
    }
  }

}
