// В этом файле должны быть стили для БЭМ-блока page-part, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-part {

  $block-name:                &; // #{$block-name}__element

  border-bottom: 1px solid $color-main;
  padding-bottom: 20px;
  margin-bottom: 20px;

  &__title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 0.6875em;
    margin-bottom: 0.6875em;
  }

  &__title-sm {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0.6875em;
    margin-bottom: 0.6875em;
  }

  &--service {
    @include row;

    #{$block-name}__col-text {
      @include col();
      @include col(lg, 7);
    }

    #{$block-name}__col-map {
      @include col();
      @include col(lg, 5);
    }
  }

  &--docs {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @media (max-width: $screen-lg) {

    &__title {
      font-size: 22px;
    }
  }

  @media (max-width: $screen-md) {

    &__title {
      font-size: 18px;
    }

    &__title-sm {
      font-size: 16px;
    }
  }
}
