// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  .logo {
    margin-right: 30px;
  }

  &__inner {
    @include container;
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
  }
  .header-info {
    margin-left: auto;
    margin-right: 30px;
  }

  @media (max-width: ($screen-md - 1)) {
    &__inner {
      justify-content: space-between;
    }
    .header-info,
    .btn--call {
      display: none !important;
    }
  }
}
