// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  .logo {
    margin-right: 30px;
  }

  .logo__title {
    color: #183956;
    font-size: 24px;
    font-weight: 600;
  }

  .logo__caption {
    color: #1e88e5;
    font-size: 16px;
  }

  &__inner {
    @include container;
    display: flex;
    padding-top: 20px;
    padding-bottom: 30px;
    position: relative;
  }

  // @media (max-width: ($screen-xl - 1)) {
  //
  //   &__inner {
  //     flex-direction: column;
  //   }
  // }

  @media (max-width: ($screen-lg - 1)) {

    &__inner {
      flex-direction: column;
    }
  }

  @media (max-width: ($screen-md - 1)) {

    &__inner {
      flex-direction: column;
    }

    .logo {
      margin-right: 0;
    }
  }
}
