// В этом файле должны быть стили для БЭМ-блока header-info, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header-info {

  $block-name:                &; // #{$block-name}__element

  font-size: 16px;
  line-height: 24px;
  display: flex;
  width: 100%;
  justify-content: space-between;

  &__item {

    margin: 0 20px;
    display: flex;
    align-items: center;

    &--text {
      font-size: 12px;
      line-height: 1.6;
      color: #9b9b9b;
      text-transform: uppercase;
      max-width: 195px;
    }

    &--phone {
      font-size: 22px;
      white-space: nowrap;

      .icon {
        width: 26px;
        height: 26px;
        fill: $color-main;
        margin-right: 10px;
      }
    }

    &--btn {
      margin-right: 0;
    }
  }

  @media (max-width: ($screen-xl - 1)) {

    flex-wrap: wrap;
    justify-content: space-between;

    &__item {

      &--text {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }

  @media (max-width: ($screen-lg - 1)) {
    flex-direction: column;
    &__item {
      margin: 15px 0 0 0;
    }
  }
}
