// В этом файле должны быть стили для БЭМ-блока footer-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer-nav {

  $block-name:                &; // #{$block-name}__element
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border-top: 1px solid #65839d;

  &__item {
    margin: 20px 20px 0 0;
  }

  &__link {
    color: #65839d;
    text-decoration: none;

    &:hover,
    &:focus {
      color: #ffbe4c;
    }
  }

  @media (max-width: ($screen-md - 1)) {
    display: none;
  }
}
