// В этом файле должны быть стили для БЭМ-блока partners, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.partners {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  justify-content: space-between;


  &__item {
    border: 2px solid #bababa;
    flex-basis: 295px;
    text-align: center;
  }

}
