// В этом файле должны быть стили для БЭМ-блока main-work, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-work {

  $block-name:                &; // #{$block-name}__element

  @include row;

  &__card {
    @include col();
    @include col(md, 6);
  }

  &__link {
    display: flex;
    margin-bottom: 20px;
    transition: all 0.4s;
    position: relative;
    transition: all 0.4s;

    &:before {
      content: "";
      transition: all 0.4s;
      position: absolute;
      left: 0px;
      bottom: 0px;
      top: 0px;
      right: 0px;
      border: 4px solid #ffbe4c;
      opacity: 0;
    }

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: underline;

      &:before {
        opacity: 1;
        left: 10px;
        bottom: 10px;
        top: 10px;
        right: 10px;
      }

      #{$block-name}__caption {
        background: $color-main;
      }
    }
  }

  &__image,
  &__caption {
    flex-basis: 50%;
    @media (max-width: ($screen-lg - 1)) {
      flex-basis: auto;
    }
  }

  &__image {

    width: 30%;
    flex-shrink: 0;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__caption {
    padding: 40px 25px 0 25px;
    line-height: 1.6;
    background: #fff;
    flex-grow: 1;

    @media (max-width: ($screen-lg - 1)) {
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

}
