// В этом файле должны быть стили для БЭМ-блока main-work, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-work {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-wrap: wrap;

  &__card {
    display: flex;
    flex-basis: 50%;
    background: #fff;
    @media (max-width: ($screen-lg - 1)) {
      flex-basis: 100%;
      margin-bottom: 10px;
    }
  }

  &__image,
  &__caption {
    flex-basis: 50%;
    @media (max-width: ($screen-lg - 1)) {
      flex-basis: auto;
    }
  }

  &__image {
    @media (max-width: ($screen-lg - 1)) {
      flex-basis: 30%;
      min-width: 30%;
    }
  }

  &__caption {
    padding: 60px 25px 0 25px;
    @media (max-width: ($screen-lg - 1)) {
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

}
