// В этом файле должны быть стили для БЭМ-блока main-section, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-section {

  $block-name:                &; // #{$block-name}__element
  font-size: 16px;
  padding: 2.7em 0;

  @media (max-width: ($screen-md - 1)) {
    padding: 1.5em 0;
  }

  &__inner {
    @include container;
  }

  &__header {
    padding-bottom: 1.5em;
  }

  &__title {
    text-align: center;
    font-weight: 600;
    color: #11334f;
    font-size: 30px;
    line-height: 1.2;
    margin: 10px 0;
  }

  &__title-caption {
    color: #9fa6ad;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  &__application {
    text-align: center;
    margin-bottom: 30px;
  }
  &__application-header {
    margin-bottom: 35px;
  }

  &--overlay {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.65);
    }
    #{$block-name}__inner {
      position: relative;
      z-index: 2;
    }
    #{$block-name}__title {
      color: #fff;
    }
    #{$block-name}__title-caption {
      color: #fff;
    }
    #{$block-name}__application {
      color: #fff;
    }
  }

  &--top {
    padding: 0;
  }

  &--number {
    background-image: url(../img/number-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    #{$block-name}__title {
      color: #fff;
    }
    #{$block-name}__title-caption {
      color: #fff;
    }
  }

  &--work {
    background: #f3f3f3;

    #{$block-name}__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    #{$block-name}__title {
      text-align: left;
    }

    @media (max-width: ($screen-md - 1)) {
      #{$block-name}__header {
        flex-direction: column;
      }
    }
  }

  &--partners {
    padding-bottom: 0;
  }

  &--feedback {
    padding: 0;
    position: relative;
  }

}
