// В этом файле должны быть стили для БЭМ-блока footer-info, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer-info {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  justify-content: space-between;
  flex-basis: 340px;

}
