// В этом файле должны быть стили для БЭМ-блока owl-carousel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority


/*
 * 	Default theme - Owl Carousel CSS File
 */

$color-base:			#869791 !default;
$color-white:			#FFF !default;
$color-gray:			#D6D6D6 !default;

//nav

$nav-color: 			$color-white !default;
$nav-color-hover:		$color-white !default;
$nav-font-size: 		14px !default;
$nav-rounded: 			3px !default;
$nav-margin: 			5px !default;
$nav-padding: 			4px 7px !default;
$nav-background: 		$color-gray !default;
$nav-background-hover:	$color-base !default;
$nav-disabled-opacity: 	0.5 !default;

//dots

$dot-width:				10px !default;
$dot-height:			10px !default;
$dot-rounded:			30px !default;
$dot-margin: 			5px 7px !default;
$dot-background:		$color-gray !default;
$dot-background-active:	$color-base !default;


.owl-carousel {
  // По умолчанию в сборку берется стилевой файл этого блока, предоставляемый
  // автором пакета (см. файл настройки проекта, там подключается
  // node_modules/owl.carousel/dist/assets/owl.carousel.css).
  // Надо стилизовать — копипастить из исходника и убирать исходник из сборки.
  .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;

    [class*='owl-'] {
      color: $nav-color;
      font-size: $nav-font-size;
      padding: $nav-padding;
      background: $nav-background;
      display: inline-block;
      cursor: pointer;
      border-radius: 3px;
      position: absolute;
      margin: 0;
      width: 40px;
      height: 60px;
      padding: 17px 0;
      border-radius: 0;
      color: #000;
      background: rgba(255, 255, 255, 0.8);

      svg {
				transition: .2s;
				stroke: #000;
			}

      &:hover {
        background: $color-main;
        color: #fff;
        text-decoration: none;
        svg {
          transition: .2s;
          stroke: #fff;
        }
      }
    }
    .owl-prev {
      left: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
    .owl-next {
      right: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
    .disabled {
      opacity: $nav-disabled-opacity;
      cursor: default;
    }
  }
  // Styling Next and Prev buttons

  // Styling dots
  .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
  }

  .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;

    .owl-dot {
      display: inline-block;
      zoom: 1;
      *display: inline;

      span {
        width: $dot-width;
        height: $dot-height;
        margin: $dot-margin;
        background: $dot-background;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity 200ms ease;
        border-radius: 30px;
      }

      &.active,
      &:hover {
        span {
          background: $dot-background-active;
        }
      }
    }
  }
}
